:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /*color-scheme: light dark;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    padding: .8rem 1.9rem;
    background: #171616;
    color: #fff;
    border: 1px solid #171616;
    border-radius: .4rem;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}

section {
    margin: 17px 20px;
}

section h2 {
    font-size: 25px;
    font-weight: normal;
}

button:hover {
    background: #232121;
}

input {
    font-size: 16px;
    padding: 14px 20px;
    border: 2px solid #171616;
    color: #171616;
    border-radius: 7px;
}

input:focus {
    border: 2px solid #171616;
    background: rgba(136, 136, 136, 0.2);
}

.form-box {
    border: 1px solid #171616;
    padding: 18px 20px;
    margin: 20px 0;
}